# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv
*.parquet
*.json

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/*.swp
*.save
